<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>

  <!--External CSS Files -->
  <title>Reservation</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/reservation.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Gowun+Batang&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- Nav Bar -->
  <div class="title">
    <div id="loggedInIconDiv">
      <h2>Welcome, <span id="userFirstName"></span></h>
    </div>


  </div>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/todo">Amenities</a>
    <div id="dropdownWrapper" style="position: relative; display: inline-block;">
      <a href="#" onclick="toggleDropdown(event)" id="reservation-link"
        style="text-decoration: underline;">Reservations</a>
      <div id="dropdownMenu" class="dropdown hidden">
        <a href="/reservation">Make Reservation</a>
        <a href="/reservationlookup">Lookup Reservation</a>
      </div>
    </div>
    <a href="/login" id="login-link">Log In</a>
    <a href="/logout" id="logout-link">Log Out</a>
  </div>
  <script src="/js/nav.js"></script>
  <div style="margin-bottom: 50px;">
    <h1 style="text-decoration: underline; text-decoration-thickness: 3px;"">Make A Reservation</h1>
</div>






<div id="make-reservation-div">

  <div id="check-in-out-info">
    <p>Our check-in time begins at 3:00 PM</p>
    <p>Check-out is at 11:00 AM</p>
  </div>
    <div class="booking-date">

      <div class="date-picker">
        <div class="date-field">
          <label for="check-in-out">Check-in → Check-out</label>
          <input id="dateselect" type="text" placeholder="Select your stay dates" readonly>
        </div>
      </div>

    </div>



    <!-- Reservation form selection -->
    <div class="form-section">
      <h3>Number of guests:</h3>
      <input type="number" id="guestCount" min="1" placeholder="Guest Count">

      <label for="roomSelection">Select room type:</label>
      <select id="roomSelection">
        <option value="0">--select--</option>
        <option value="1">Double, Full (120.00 Per Night)</option>
        <option value="2">Queen, Single (135.00 Per Night)</option>
        <option value="3">Queen, Double (150.00 Per Night)</option>
        <option value="4">King, Single (160.00 Per Night)</option>
      </select>

      <button id="submitButton">Submit</button>
      <div id="confirmationModal" class="modal">
        <div class="modal-content">
          <span class="close-button" id="closeModalBtn">&times;</span>
          <h2>Reservation Summary</h2>
          <p>Your reservation details are as follows.</p>
          <!-- <p><strong>Confirmation Number:</strong> <span id="modalConfirmationNumber"></span></p> -->
          <p><strong>Check-in:</strong> <span id="modalCheckIn"></span></p>
          <p><strong>Check-out:</strong> <span id="modalCheckOut"></span></p>
          <p><strong>Guests:</strong> <span id="modalGuests"></span></p>
          <p><strong>Room:</strong> <span id="modalRoomType"></span></p>
          <button id="confirmRes">Confirm</button>
          <button id="cancelRes">Cancel</button>
        </div>
      </div>
    </div>
</div>




<div class="room-slideshow">
  <div class="slide-container">
    <div class="slides">
      <img src="/images//beds/doublefull.jpg" alt="Room with Two Full Beds">
      <img src="/images/beds/queensingle.jpg" alt="A bedroom a Single Queen Bed">
      <img src="/images/beds/doublequeen2.jpeg" alt="A bedroom with two Queen Beds">
      <img src="/images/beds/kingsingle.jpg" alt="A bedroom with a single King bed">
    </div>

    <!-- Our left arrow-->
    <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
    <!-- Our right arrow-->
    <a class="next" onclick="changeSlide(1)">&#10095;</a>

  </div>
</div>

  <script src="/js/reservation.js"></script>

      <!--Added a footer to allow for contact infromation to be listed-->
      <footer>
        <p>
            Feel free to <a href="contact">contact us</a> if you have any questions or need any assistance!<br>
            Call Us: (808)-222-2244<br>
            Email Us: <a href="mailto:CozyCavern@gmail.com">CozyCavern@gmail.com</a>
        </p>
    </footer>

</body>
</html>